.customer-box{
    /* border: 2px solid black; */
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.section{
    /* border: 2px solid red; */
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.customer{
    /* border: 2px solid yellow; */
    width:65%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 0px 0px 16px 0 black;
  
}
.section-img_1{
    background-image: url(./customer1.avif);
}
.section-img_2{
    background-image: url(./customer2.avif);
    order: 1;
}
.disc{
    height: 100%;
    /* border: 2px solid green; */
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    text-align: center;
}
